

.text-area{
    padding: 79px 0px;
    background-color: #E9E8E8;
    @media (max-width:575px) {
        padding: 30px 0px;
    }
    .container{
        max-width: 860px;
        padding-left: 30px;
        padding-right: 30px;
    }
    &__text{
        color: #484847;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0;
        @media (max-width:575px) {
            font-size: 21px;
        }
        span{
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
        }
        br{
            display: none;
            @media  (max-width: 400px) {
                display: block;
            }
        }
    }
}

.product-area{
    position: relative;
    padding: 41px 0 67px;
    @media (max-width:575px) {
        padding: 30px 0px;
    }
    .container{
        max-width: 860px;
        padding-left: 30px;
        padding-right: 30px;
    }
    &__item{
        position: relative;
        display: block;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
            transform: scale(1.0);
            transition: all 0.4s ease-in-out;
        }
        &__text{
            color: $zoomvilla-white;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: absolute;
            top: 5px;
            right: 4px;
            display: block;
            padding: 5px 5px 2px;
            background-color: $zoomvilla-black;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
}

.product-details{
    padding: 20px 0px 57px;
    background-color: #E9E8E8;
    @media (max-width:575px) {
        padding: 30px 0px;
    }

    .container{
        max-width: 860px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .breadcrumm{
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: end;
        margin-bottom: 33px;
        @media (max-width:400px) {
            flex-wrap: wrap;
        }
        a{
            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            padding: 4px 6px;
            background-color: $zoomvilla-white;
            transition: all 0.4s ease-in-out;
            @media (max-width:500px) {
                font-size: 11px;
            }
            &:hover{
                background-color: $zoomvilla-base;
                color: $zoomvilla-white;
            }
        }
    }

    &__inner{

    }
    &__title{
        color: #000;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 24px;
        text-transform: capitalize;
        padding: 10px 10px 5px;
        background-color: $zoomvilla-white;
        display: inline-block;
    }
    &__title-two{
       color: #000;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin: 0;
    }
    &__text{
        color:$zoomvilla-base;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin: 0;
    }
    &__text + &__text{
        margin-top: 15px;
    }
    &__content + &__content-two{
        margin-top: 39px;
    }
    &__content-two + &__thumb{
        margin-top: 31px;
    }

    &__content-two{
        background-color: $zoomvilla-white;
        padding: 20px;
        .product-details__title-two{
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
        }
    }

    &__thumb{
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    &__inner + &__thumb-group{
        margin-top: 31px;
    }
}



.footer-area{
    position: relative;
    padding: 36px 0 48px 0;
    background-color: #484847;
    
    &__top{
        margin-bottom: 30px;
    }
    &__logo{
        display: block;
        img{
            &:first-child{
                display: block;
                @media (max-width:575px) {
                    display: none;
                }
            }
            &:last-child{
                display: none;
                @media (max-width:575px) {
                    display: block;
                }
            }
        }
    }
    .container{
        max-width: 860px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-area__widget{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link{
        margin: 0;
        padding: 0;
        li{
            a{
                color: $zoomvilla-white;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150% ;
                text-transform: uppercase;
            }
        }
        li + li{
            margin-top: 5px;
        }
    }
    &__social{
        display: flex;
        align-items: center;
        flex-direction: column;
         @media (max-width:400px) {
            display: none;
        }
        a{
            font-size: 20px;
            color: $zoomvilla-white;
        }
    }
    &__widget__bottom{
        @media (max-width:400px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__bottom{
        
        .footer-area__social{
            display: none;
            @media (max-width:400px) {
                display: flex;
            }
        }
    }

    .footer-area__link-two{
        display: flex;
        align-items: center;
        @media (max-width:600px) {
            flex-wrap: wrap;
        }
         @media (max-width:400px) {
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
        li{
            a{
                color: $zoomvilla-white;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                strong{
                    font-weight: 700;
                }
            }
        }
        li + li{
            margin-left: 10px;
            padding-left: 10px;
            position: relative;
            z-index: 1;
            @media (max-width:400px) {
                margin-left: 0;
                padding-left: 0;
                &::after{
                    display: none;
                }
            }
            &::after{
                content: "|";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: $zoomvilla-white;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
            }
        }
    }
}